Package: com.charliewhile.mandy
Name: Mandy
Depends: mobilesubstrate, com.spark.libsparkapplist
Version: 1.0.2
Architecture: iphoneos-arm
Description: Override dark/light mode on an app by app basis 
Maintainer: Charlie While
Author: Charlie While
Section: Tweaks
